@font-face {
  font-family: 'KoPubBold';
  src: url('KoPubBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotumBold';
  src: url('KoPubWorldDotumBold.ttf') format('truetype'),
       url('KoPubWorldDotumBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

